<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
    
    <script src="/scripts/bootstrap.js" defer="defer"></script>
    <script src="~/scripts/bootstrapext.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("公寓管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("出纳", "" ,"Cash")</li>
                    <li>@Html.ActionLink("排洗", "", "DateWash")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div> 
    <div class="container body-content" id="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 公寓管理系统</p>
        </footer>
    </div>

    <script>
        (function () {
            var contentW = $("#body-content").width()+20;
            var winW = $(window).width();

            var zoomRate = winW/contentW;
            if (zoomRate >= 1.7)
                ;//  $("body").css("zoom",1.7);



        })();
    </script>
 
    @RenderSection("Scripts", required: false)
</body>
</html>
