@model ApartmentCash.Models.CreateDateModel
@{
    ViewBag.Title = "CreateDate";
}
<link href="~/Resource/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Resource/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="~/Resource/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>

<h2>生成日期</h2>


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("CreateDate", "DateWash", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>新增出纳信息</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             
                <div class="form-group">
                    @Html.LabelFor(m => m.DateStart, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-MM-dd" data-link-field="DateStart" data-link-format="yyyy-mm-dd">
                            @Html.TextBoxFor(m => m.DateStart, new { @readonly="readonly",@class = "form-control", autocomplete = "off", autocorrect = "off", autocapitalize = "off", spellcheck = "false" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.DateStart, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DateEnd, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-MM-dd" data-link-field="DateEnd" data-link-format="yyyy-mm-dd">

                            @Html.TextBoxFor(m => m.DateEnd, new { @readonly = "readonly",@class = "form-control", autocomplete = "off", autocorrect = "off", autocapitalize = "off", spellcheck = "false" })
                          
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.DateEnd, "", new { @class = "text-danger" })


                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="生成日期" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        pickerPosition:'bottom-left'
    });
</script>



