@using ApartmentCash.Models
@model IEnumerable<ApartmentCash.Models.DateWashViewModel>
@{
    ViewBag.Title = "Index";
}


<style>
    .table-striped tbody tr:hover {
        color:white;
        background-color:#ccc;
    }

    td.user:hover {
        cursor:pointer;
        background-color:rgb(204,196,247);
    }


     #ul-userlist  {
        list-style:none;
        width:200px;
        padding-left:0px;
        position:relative;
        border:1px solid #ccc;
        min-height: 230px;
        width: 100%;
        box-sizing:border-box;
    }
    #ul-userlist li {
        background-color:white;
        display:inline-block;
        padding:10px;
        min-width:75%;
        cursor:move;
    }
    #ul-userlist li.insertMark {
        border-top:1px solid blue;
    } 

    #ul-userlist li:hover {
        background-color:#ccc;
    }
    
    .user-name {
        display:inline-block;
    }

    #ul-userlist .del {
        float: right;
        cursor: pointer;
        display: inline-block;
        width: 30px;
        text-align: center;
    }

    #ul-userlist .del:hover {
        color: red;
        font-weight: bold;
    }
</style>
<h2>排洗列表</h2>

<div class="row">
    <div class="col-xs-12 col-sm-4  bg-danger">
        @Html.ActionLink("生成日期", "CreateDate", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-xs-12 col-sm-8  bg-info">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <table class="table  table-bordered"> @*table-striped*@ 
        <thead>
            <tr>
                <th>
                    时间
                </th>
                <th class="text-center">
                    人员
                </th>
                <th>完成情况</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr >
                    <td>@Html.DisplayFor(a => item.DateStr)</td>
                    <td class="text-center user">@Html.DisplayFor(a => item.UserName)</td>
                    <td><a class="noInTrun" href="javascript:void(0);">轮空</a>   @Html.DisplayFor(a => item.IsFinish)</td>
                </tr>
            }

        </tbody>

    </table>


</div>

<div class="row">
    <nav>
        <div class="btn-group" role="group" style="vertical-align: middle;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewBag.year
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/DateWash/@(ViewBag.year-2)/@ViewBag.month">@(ViewBag.year - 2)</a></li>
                <li><a href="/DateWash/@(ViewBag.year-1)/@ViewBag.month">@(ViewBag.year - 1)</a></li>
                <li class="active"><a href="/DateWash/@ViewBag.year/@ViewBag.month">@ViewBag.year</a></li>
                <li><a href="/DateWash/@(ViewBag.year+1)/@ViewBag.month">@(ViewBag.year + 1)</a></li>
                <li><a href="/DateWash/@(ViewBag.year+2)/@ViewBag.month">@(ViewBag.year + 2)</a></li>
            </ul>
        </div>
        <ul id="pageNav" class="pagination" style="vertical-align: middle;">
            <li class='pageNavPre @(ViewBag.pageIndex==1?"disabled":"")'><a href="javascript:void(0);"><span>«</span></a></li>
        
            @for (int i = 1; i <= 12; i++)
            {
                string className = "";
                if (i == ViewBag.pageIndex)
                {
                    className = "active";
                }

                <li class="@className"><a href="/DateWash/@ViewBag.year/@i">@i</a></li>
            }

            <li class='pageNavNext @(ViewBag.pageIndex==12?"disabled":"")'><a href="javascript:void(0);"><span>»</span></a></li>
        </ul>
    </nav>
</div>


<!-------------------------------------->
<!-- Modal -->
<div class="modal fade" id="userChooseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">人员选择</h4>
            </div>
            <div class="modal-body">
                <ul id="ul-userlist" onselectstart="return false" onselect="document.selection.empty()" ondragstart="return false">
                    @foreach (ApartmentCash.DBModel.AspNetUsers item in ViewBag.userList)
                    {
                        <li user-id="@item.Id">
                            <span class="user-name">@item.UserName</span>
                            <span class="del">X</span>
                        </li>
                    }
                    <li>&nbsp;</li>
                </ul>
                <div>
                    <input type="text" id="iptStartDate" readonly/>
                    <label>天数:</label>
                    <input type="number" value="30" id="iptDays"/>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-primary" id="btnSubmitCreate">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------->
<script>
    $("table").on('click', 'td.user', function () {
        $('#userChooseModal').modal('show');
        $("#iptStartDate").val($(this).siblings("td").eq(0).text());
        return false;
    });

    $("#ul-userlist").on('mousedown', 'li', function (e) {
        if ($(e.target).is('.del'))
            return false;
        $(this).addClass("hold").siblings("li").removeClass("hold");

        var jqObj = $(this);
        var offWidth = e.pageX - jqObj.offset().left;
        var offHeight = e.pageY - jqObj.offset().top;
        jqObj.data({ offWidth: offWidth, offHeight: offHeight });
        jqObj.css({ "left": jqObj.position().left + "px", "top": jqObj.position().top + "px", position: "absolute" });
        return false;
    });

    $("#ul-userlist").on('mouseup', function () {
        var jqObj = $("#ul-userlist li.hold");
        jqObj.removeClass("hold").css("position", "static");
        $(".insertMark").before(jqObj);
        $(".insertMark").removeClass("insertMark");
        return false;
    });
    $("#ul-userlist").on('mousemove', function (e) {
        var jqObj = $("#ul-userlist li.hold");
        if (jqObj.length <= 0)
            return false;
        var offWidth = jqObj.data('offWidth');
        var offHeight = jqObj.data('offHeight');
        var pL = jqObj.parent().offset().left;
        var pt = jqObj.parent().offset().top;


        var left = e.pageX - pL - offWidth;
        var top = e.pageY - pt - offHeight;

        if (left <= 0)
            return false;

        if (left >= jqObj.parent().width() - jqObj.width())
            return false;


        if (top <= 0)
            return false;

        if (top >= jqObj.parent().height() - jqObj.height())
            return false;

        jqObj.css({ "left": left + "px", "top": top + "px", position: "absolute" });

        $("#ul-userlist li:not(.hold)").removeClass("insertMark");

        $("#ul-userlist li:not(.hold)").each(function () {
            var h1 = $(this).position().top;
            var h2 = h1 + $(this).height();

            if (h1 <= top && top <= h2) {
                $(this).addClass("insertMark");
                return false;
            }
        });

        return false;
    });


    $("#ul-userlist").on('click', '.del', function () {
        $(this).closest('li').remove();
    });

    $("#btnSubmitCreate").click(function () {
        var data = $("#ul-userlist li[user-id]").map(function () { return $(this).attr("user-id"); }).get();

        if (!data)
            return;
        var postData = new Object();
        postData.createCount = $("#iptDays").val();
        postData.personList = data.join(",");
        postData.startDate = $("#iptStartDate").val();
        $.post("/DateWash/CreateDateWashPerson", postData, function (json) {
            if (!json.success) {
                alert(json.msg);
                return false;
            }
            location.reload();
        }, 'json');


    });

    $("table").on('click', 'a.noInTrun', function () {
        var dateStr = $(this).closest('td').siblings('td').eq(0).text();

        if (!dateStr)
            return false;

        $.post("/DateWash/NoInTrun", { dateStr: dateStr }, function (json) {
            if (!json.success) {
                alert(json.msg);
                return false;
            }
            location.reload();
        }, 'json');

        return false;
    });

    $("#pageNav").on('click', 'li.pageNavPre:not(.disabled),li.pageNavNext:not(.disabled)', function () {
        var curPageIndex = $("#pageNav li.active a").text();
        if ($(this).is(".pageNavPre")) {
            curPageIndex--;
        }
        else if ($(this).is(".pageNavNext")) {
            curPageIndex++;
        }
        location.href = "/DateWash/" +@ViewBag.year +"/" + curPageIndex;
    });
</script>

